version: '3.9'
networks:
  local_prjctnet:
    external: true

services:
  web-ui:
    build: .
    image: harbor.cubexs.dev/prjctrepo/web-ui

  web-ui-run:
    image: node:18.12.0-alpine3.15
    container_name: web-ui
    volumes:
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./tsconfig.node.json:/app/tsconfig.node.json
      - ./vite.config.ts:/app/vite.config.ts
      - ./public:/app/public
      - ./src:/app/src
      - ./index.html:/app/index.html
    networks:
      - local_prjctnet
    command: ['sh', '-c', 'cd /app && npm install && npm run dev']

  web-ui-unit-tests:
    image: node:18.12.0-alpine3.15
    container_name: web-ui-test
    volumes:
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./tsconfig.node.json:/app/tsconfig.node.json
      - ./vite.config.ts:/app/vite.config.ts
      - ./public:/app/public
      - ./src:/app/src
      - ./tests:/app/tests
      - ./index.html:/app/index.html
      - ./.babelrc:/app/.babelrc
      - ./jest.config.ts:/app/jest.config.ts
    command: ['sh', '-c', 'cd /app && npm install && npm run test']

  web-ui-ci-unit-tests:
    image: node:18.12.0-alpine3.15
    container_name: web-ui-ci-test
    volumes:
      - .:/app
    command: ['sh', '-c', 'cd /app && npm install && npm run test-ci']

  # web-ui-test:
  #   image: node:18.12.0-alpine3.15
  #   container_name: comming-soon
